
  .label-gd {
    font-size: 14pt;
    text-align: left;
    margin-left: 25px;
  }

  .form-check-label {
    margin-right: 25px;
    font-size: 15px;
  }

  .paperpage {
    padding: 50px;
    top:10px;
    bottom:10px;
    background-color: white;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.8);
}
pre{
  white-space: pre-wrap;
  margin: 0 !important;
}

hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}